In [1]:
#List of high schools

In [2]:
#List of high schools.
high_schools=["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]

In [3]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
high_schools=["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]

In [5]:
#A dictionary of high schools and the type of school.
high_school_types=[{"High School":"Griffin","Type":"District"},
                  {"High School":"Figueroa","Type":"District"},
                  {"High School":"Wilson","Type":"Charter"},
                  {"High School":"Wright","Type":"Charter"}]

In [6]:
for school_type in (high_school_types):
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
#List of high schools
high_schools=["Huang High School", "Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]

In [8]:
import pandas as pd

In [9]:
#Create a Pandas Series from a list.
school_series=pd.Series(high_schools)

In [10]:
#Create a Panda Series from a list.
school_series=pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [11]:
#A dictionary of high schools
high_school_dicts=[{"School ID":0,"school name":"Huang High School","type":"District"},
                   {"School ID":1,"school name":"Figuerroa High School","type":"District"},
                   {"School ID":2,"school name":"Shelton High School","type":"Charter"},
                   {"School ID":3,"school name":"Hernandez High School","type":"District"},
                   {"School ID":4,"school name":"Griffin High School","type":"Charter"}]

In [12]:
#Create a Panda DataFrame.
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school name      type
0          0      Huang High School  District
1          1  Figuerroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
#Three separate lists of information on high schools
school_id=[0,1,2,3,4]

school_Name=["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High Schools"]

type_of_school=["District","Distric","Charter","District","Charter"]

In [14]:
#Initialize a new DataFrame.
schools_df=pd.DataFrame()

In [15]:
#Add the list to a new DataFrame.
schools_df["School ID"]=school_id

#Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [16]:
#Create a dictionary of information on high schools.


high_schools_dict={"school ID":school_id,"school_name":school_name,"type":type_of_school}

#Initialize a new DataFrame.
high_schools_dict_df=pd.DataFrame()

#Add the dictionary to a new DataFrame.
high_schools_dict_df["School ID"]=school_id

high_schools_dict_df

NameError: name 'school_name' is not defined

In [17]:
school_df.columns

Index(['School ID', 'school name', 'type'], dtype='object')

In [18]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figuerroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [20]:
school_id=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name=["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
type=["District","District","Charter","Disctrict","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]